@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-font: 'Roboto', sans-serif;
  --bg-color: #F8F4EA;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-font);
  padding: 8px 10px;
}
