.footer {
    max-width: 100%;
    background-color: rgb(234, 234, 234);
    background-color: #579BB1;
    padding: 4rem 0;
}

.footerWrapper {
    max-width: 1200px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.logo {
    font-family: var(--heading-font);
    /* font-weight: 700; */
    font-size: 2rem;
    letter-spacing: 2px;
    /* color: rgb(1, 2, 82); */
    color: white;
}

.footerDetails {
    display: flex;
    max-width: 35rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.details {
    min-width: 150px;
    /* color: rgb(132, 132, 132); */
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    font-size: 1rem;
}

.details:hover {
    color: rgb(1, 1, 54);
}

.socialHandles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.socialHandles a{
    text-decoration: none;
    color: black;
}

@media all and (max-width:850px) {
    .footerWrapper {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footerDetails {
        flex-direction: column;
        gap: 1;
    }

    .socialHandles {
        margin-top: 1.5rem;
    }

}